@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
    font-family: 'Montserrat', sans-serif;
}
.main{
    
    background-image: url("4189694_2238239.jpg");
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    opacity: 0.9;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
}
  
  .block {
    padding: 16px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
  
 

